@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #f6f6f6;
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.screen-left,
.screen-right {
  width: 28%;
  height: 90vh;
  background-color: white;

  border-radius: 20px;
  /* padding: 35px 40px; */
}

/* left and right header */
.screen-left__header,
.screen-right__header {
  display: flex;
  justify-content: space-between;

  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 30px 40px;
  padding-bottom: 10px;
}

/* screen-left */
/* screen-left__artist */
.screen-left__artist-img {
  text-align: center;
}

.screen-left__artist-img img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 5px 20px #a86c3e;
}

.screen-left__artist-info__detail {
  margin: 40px 0;
  text-align: center;

  display: grid;
  grid-template: repeat(2, auto);
  gap: 30%;
}

.screen-left__artist-info__detail-name {
  font-size: 28px;
  font-weight: 600;
}

.screen-left__artist-info__detail-genre {
  font-size: 18px;
  opacity: 0.5;
}

.screen-left__artist-btn {
  display: flex;
  justify-content: space-evenly;
}

.screen-left__artist-btn button {
  width: 38%;
  border: none;
  padding: 15px 25px;
  border-radius: 40px;
}

.screen-left__artist-btn-shuffle {
  background-color: black;
  color: white;
}

.screen-left__artist-btn-heart {
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.screen-left__artist-btn-heart span {
  opacity: 0.5;
}

/* screen-left__musics */
.screen-left__musics {
  margin-top: 20px;
}

.screen-left__musics-music {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
  margin-bottom: 15px;
}

.screen-left__musics img {
  height: 8vh;
  border-radius: 15px;
}

.screen-left__musics-music__info {
  display: flex;
}

.screen-left__musics-music__info-artist {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}

.screen-left__musics-music__info-artist > span:first-child {
  font-size: 15px;
  opacity: 0.6;
}

.screen-left__musics-music__info-artist > span:last-child {
  font-size: 16px;
  font-weight: 600;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 210px;
}

.screen-left__musics-music__icon {
  font-size: 20px;
  opacity: 0.5;
}

.screen-left__musics-music__on {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 10px 20px;
  margin: 15px 10px;

  position: relative;
}

.screen-left__musics-music__on img {
  filter: brightness(60%);
}

.screen-left__musics-playicon {
  position: absolute;
  color: white;
  font-size: 30px;
  left: 38px;
}

/* screen-left-playlist */
.screen-left__playlist {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 405px;

  position: fixed;
  z-index: 2;
}

.screen-left__playlist-detail {
  background-color: black;
  color: white;
  padding: 15px 30px;
  border-radius: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
}

.screen-left__playlist-detail__info {
  display: flex;
  flex-direction: column;
}

.screen-left__playlist-detail__info > span:first-child {
  opacity: 0.5;
  margin-bottom: 8px;
  font-size: 15px;
}

.screen-left__playlist-detail__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.screen-left__playlist-detail__icons > i:nth-child(2) {
  font-size: 25px;
}

/* screen-right */
/* screen-right__nowMusic */
.screen-right__nowMusic {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
}

.screen-right__nowMusic img {
  width: 70%;
  border-radius: 20px;
  box-shadow: 0 5px 20px #fbc601;

  margin-bottom: 50px;
}

.screen-right__nowMusic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-right__nowMusic span {
  margin-bottom: 20px;
}

.screen-right__nowMusic-info > span:first-child {
  font-size: 25px;
  font-weight: 600;
}

.screen-right__nowMusic-info > span:last-child {
  font-size: 18px;
  opacity: 0.5;
}

/* screen-right__musicTime */
.screen-right__musicTime-time {
  margin: 0 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  opacity: 0.4;
}

.screen-right__musicTime-icon__past {
  margin-top: 5px;
  margin-left: 20px;
  width: 150px;
  height: 3px;
  background-color: black;
  border-radius: 10px;

  position: relative;
}

.screen-right__musicTime-icon i {
  font-size: 6px;
  position: absolute;
  bottom: -4px;
  left: 147px;
}

.screen-right__musicTime-icon__future {
  margin: 10px;
  width: 210px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  position: absolute;
  bottom: -10px;
  left: 145px;
}

/* screen-right__playbtn */
.screen-right__playbtn {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.screen-right__playbtn-play {
  background-color: black;
  color: white;
  width: 65px;
  height: 65px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.screen-right__playbtn > i:nth-child(2),
.screen-right__playbtn > i:nth-child(4) {
  font-size: 25px;
}

.screen-right__playbtn > i:first-child,
.screen-right__playbtn > i:last-child {
  opacity: 0.4;
  font-size: 20px;
}
